<!DOCTYPE html>
<html lang="en">

  <head>
    <title>files' title here</title>
<style>
body {
  max-width: 40rem;
  margin: 2rem auto;
}
</style>
  </head>

  <body>
    <p>
    Here is a file !
    </p>
  </body>

</html>
