<!DOCTYPE html>
<html lang="en">

  <head>
    <title>files' title here</title>
<style>
body {
  max-width: 40rem;
  margin: 2rem auto;
}
</style>
  </head>

  <body>
    {{#each files}}
    <p>
    <a href="{{this.dl_uri}}">{{this.name}}</a>
    </p>
    {{/each}}
  </body>

</html>
