<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Upload some files</title>
<style>
body {
  max-width: 40rem;
  margin: 2rem auto;
}
</style>
  </head>

  <body>
    <h1>Geekingfrog's vrac files</h1>
    <p>
    A Place to upload some random stuff.
    </p>
    <p>
    <a href="/gen">Generate an upload token.</a>
    </p>
  </body>


</html>
